<h2>Products<h2>
<%= 1 + 1 %>

<%= Date.today %>

<% @products.each do | product | %>
    <%= link_to product_path(product.id), class: 'product' do%>
        <h3><%= product.title %></h3>
        <p><%= product.description%></p>
        <span><%= product.price %>$</span>
    <% end %>
<% end %>