<%= link_to products_path do %>
    <span>volver</span>
<% end %>
<h1 class='title'>
    <%= @product.title%>
</h1>
<p class='description'><%= @product.description%></p>
<p class='price'><%= @product.price%>$</p>

<%= link_to 'Editar producto', edit_product_path(@product.id) %>

<%= link_to 'Eliminar producto', product_path(@product.id), data:{
    turbo_method: :delete,
    turbo_confirm: '¿Estás seguro que quieres eliminar este producto?'
} %>